/* Navigation bar */

.logo {
    max-width: 15%;
}

.navbar-brand {
    max-width: 30%;  
}

.searchinput {
    width: 80%;
}

.d-flex {
    max-width: 130%;
}

.container-fluid {
    background-color: #099d40; 
}

.nav-link {
    color: white;
}

nav {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: yellow;
    transition: all .5s;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.nav-item {
    padding-right: 3px;
}

.dropdown-menu {
    background-color: #e5ffee;
}

.dropdown-item:hover {
    background-color: rgb(249, 249, 180);
    color: #099d40;
    font-weight: bold;
}

.searchinput:focus {
    background-color: #ecfff3;
}

.searchbutton:hover {
    background-color: white;
}

.searchbutton:hover .searchtext {
    color: #099d40; 
}

.rightbutton {
    border: 0;
    background-color: transparent;
    color: white; 
    font-size:24px;
}

.rightbutton:hover i {
    color: yellow;
}

.rightbutton a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #dbf4e4;   
}



/* Footer */

footer {
    background-color:#099d40; 
    padding-top: 20px; 
    padding-bottom: 10px;
    font-size: 14px; 
    color: white;
    line-height: 15px;
    z-index: 1;
    width: 100%;
}

.flex-footer {
    display: flex;
    justify-content: center;
}

.brandinfo {
    padding-left: 10px;
    margin-right: 50px;
}

.brandinfolabel {
    padding-right: 10px;
    font-weight: bold;
}

.vl {
    border-right: 2px solid white;
    height: 75px;
    padding-left: 10px;
  }

.external {
    font-size: 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: white;
}
/* Image */
img {
    width: 50vw;
}
/* Content */
.abtbody {
    max-width: 50vw;
    width: 50vw;

}
.content {
    padding: 20px;
    text-align: center;
}
.placeholder-text {
    max-width: 75%;
    margin: 0 auto;
    text-align: justify;
  }